@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--secoundary);
}
:root {
  --primary: #1d1d1b;
  --secoundary: #0e0e0e;
  --gray: #eeeeee;
}
[class*='grid'] {
  display: grid;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 13rem;
}
body {
  text-size-adjust: 100%;
}
p,
a,
input,
select,
textarea,
button {
  font-size: 1.6rem;
}
p {
  color: gray;
  line-height: 1.8;
}
img,
video {
  max-width: 100%;
}
.container {
  max-width: 1240px;
  margin: auto;
  width: 100%;
}
button {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background: var(--primary);
  box-shadow: #00000037 0px 20px 30px -5px;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
button i {
  line-height: 1;
}
section {
  padding: 8rem 0px;
  overflow: hidden;
}
header {
  height: 13rem;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: white;
  padding-top: 5rem;
  box-shadow: 0 20px 50px -20px #00000029;
}
.social a {
  cursor: pointer;
}
header.sticky .container {
  border-color: transparent;
}
.logo img {
  height: 6rem;
}
header .container {
  height: 100%;
}
header .container,
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
header .links a {
  transition: 0.3s;
}
header .links a:hover {
  color: var(--secoundary);
}
.menu {
  font-size: 3rem;
  display: none;
}
header .top {
  background: var(--primary);
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
}
header .top :is(.social, .flex) {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.top :is(p, a, i) {
  color: white;
}
header .top p {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  align-items: center;
}
header .top i {
  font-size: 1.6rem;
}
header .container {
  max-width: 100%;
  padding: 0 5rem;
}
header .social a {
  width: 3rem;
  aspect-ratio: 1/1;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .social i {
  font-size: 2rem;
  color: var(--primary);
}
.select {
  background: white;
  height: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select label {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 2rem;
  color: gray;
}
.select select {
  padding: 0 2rem;
  appearance: none;
  padding-right: 3rem;
  cursor: pointer;
}
.select i {
  position: absolute !important;
  right: 1rem;
  color: var(--primary);
  bottom: 0;
  user-select: none;
  pointer-events: none;
  font-size: 2rem !important;
}
main {
  background: var(--primary);
}
main :is(h1, h2, span, p, a) {
  color: white;
}
.subsribe {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 6rem;
  border: 1px solid white;
  max-width: 50rem;
}
.subsribe input {
  height: 100%;
  background: transparent;
  padding: 0 3rem;
  color: white;
}
.subsribe button {
  background: white;
  color: var(--primary);
  height: 100%;
  border-radius: 0;
  font-weight: 600;
}
main {
  padding-top: 13rem;
  overflow: hidden;
  height: 85rem;
}
main .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  height: 100%;
}
main .right {
  position: relative;
  height: 100%;
}
main .right .flag {
  position: absolute;
  height: 100%;
  right: 0;
  top: -5rem;
  z-index: 1;
}
main .right .group {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
}
main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1.1;
}
main .content span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
}
main .content p {
  margin: 2rem 0;
}
.info {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}
.info div p {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 !important;
  line-height: 1;
  margin: 0 !important;
}
.info div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.info div::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.05;
}
.info div span {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
}
.about {
  position: relative;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}
.left-frame::before {
  position: absolute;
  content: '';
  width: 40%;
  height: 100%;
  clip-path: polygon(0 0, 61% 0, 100% 100%, 0% 100%);
  background: var(--primary);
  left: 0;
  top: 0;
  z-index: -1;
}
.call {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}
.call .ico i {
  font-size: 2.5rem;
}
.call .ico {
  background: #e6e6e6;
  width: 5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
}
.cta {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.align-center {
  align-items: center;
}
.title h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
}
.title span {
  font-size: 1.6rem;
  letter-spacing: 10px;
  font-weight: 600;
  position: relative;
  margin-bottom: 3rem;
  display: inline-block;
  text-transform: uppercase;
}
.title span::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 50%;
  height: 2px;
  background: var(--primary);
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.tbb-1 {
  border: 1px solid #0000001f;
  border-left: 0;
  border-right: 0;
  padding: 3rem 0;
}
section.bg {
  background: var(--primary);
}
section.bg :is(h2, span, p, i) {
  color: white;
}
section.bg .title span::before {
  background: white;
}
.grid-2.adj {
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 5rem;
}
.card {
  max-width: 40rem;
  background: var(--secoundary);
}
.card .body {
  padding: 3rem;
}
.card h3 {
  color: white;
  text-transform: capitalize;
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card p {
  font-size: 1.5rem;
  line-height: 1.5;
}
.card .frame {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.card .frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card .body span {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  font-size: 1.6rem;
  align-items: center;
}
.card .body span i {
  font-size: 2.5rem;
}
.card-2 {
  background: var(--secoundary);
}
.card-2 .frame-1 {
  background: var(--gray);
  width: 100%;
  aspect-ratio: 2/1.8;
  position: relative;
}
.card-2 .frame-1 img {
  position: absolute;
  bottom: 0;
  height: 30rem;
  margin: auto;
  display: block;
}
.card-2 {
  max-width: 30rem;
  width: 100%;
}
.card-2 .body {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
}
.card-2 .body .social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card-2 .body .social i {
  color: white;
}
.card-2 .body h3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}
.title.center {
  text-align: center;
  margin-bottom: 10rem;
}
.title.center span::before {
  left: 50%;
  transform: translateX(-50%);
}
/* contact form */
.form-grid input {
  background: none;
  color: var(--secoundary);
  padding: 2.5rem 3rem 1rem;
  width: 100%;
  font-size: 1.6rem;
}

.fild {
  background: #f5f5f5;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid #06213217;
}

.fild label {
  color: var(--secoundary);
  font-size: 1.6rem;
  left: 3rem;
  line-height: 1;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.3s;
  font-weight: 500;
  pointer-events: none;
}

.fild input:-webkit-autofill ~ label,
.fild input:focus ~ label,
.fild input:not(:placeholder-shown) ~ label {
  color: var(--secoundary);
  font-size: 1.3rem;
  opacity: 1;
  top: 1.5rem;
}
.form-grid form .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.form-grid form {
  display: none;
  width: 100%;
  padding: 5rem;
  background: white;
}

.form-grid textarea {
  border: 1px solid #06213217;
  height: 20rem;
  width: 100%;
  padding: 3rem;
  resize: none;
  border-radius: 1rem;
  background: #f5f5f5;
  color: var(--secoundary);
}
.form-grid form button {
  width: 100%;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  background: var(--primary);
  color: white;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
}
.form-grid .title {
  margin-bottom: 3rem;
}
iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
}
footer {
  padding: 8rem 0;
}
footer .grid3 {
  /*grid-template-columns: 2fr 1.5fr 1fr;*/
  grid-template-columns: 2fr 1.5fr;
  gap: 5rem;
  align-items: flex-start;
}
footer .urls :is(p, a) {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 0.5rem;
}
.urls i {
  width: 3rem;
  aspect-ratio: 1/1;
  background: var(--secoundary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  font-size: 1.6rem;
}
footer i {
  font-size: 2rem;
}
.link-block,
.urls,
.about {
  display: grid;
  gap: 1.5rem;
}
footer a {
  display: inline-block;
}
footer p {
  line-height: 1.5 !important;
}
.link-block h3 {
  font-size: 2rem;
  font-weight: 600;
}
footer .subsribe {
  border-color: var(--secoundary);
}
footer .subsribe input {
  color: var(--secoundary);
}
footer .subsribe button {
  background: var(--secoundary);
  color: white;
}
.about .social {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.about .social a {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--secoundary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .social a i {
  color: white;
}
#contact .title {
  margin-bottom: 5rem;
}
.form-grid button i {
  color: white;
}
footer {
  padding-bottom: 0;
}
footer .container {
  border-bottom: 1px solid #00000018;
  padding-bottom: 5rem;
}
footer .copy {
  padding: 5rem 0;
  text-align: center;
  font-size: 1.6rem;
}
@media (max-width: 1024px) {
  html {
    font-size: 45%;
  }
  .container {
    padding: 0px 1.5rem;
  }
}
@media (max-width: 660px) {
  html {
    font-size: 60%;
  }
  header .container {
    padding: 0px 1.5rem;
    align-items: center;
    height: 100%;
  }
  .menu {
    display: block;
  }
  header .links {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 13rem);
    position: fixed;
    top: 13rem;
    background: rgba(0, 0, 0, 0.72);
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 5rem 0px;
    left: 0px;
    transition: all 0.3s ease 0s;
    transform: translateX(100%);
  }
  .active {
    transform: translateX(0%) !important;
  }
  header .links a {
    color: white;
  }
  main {
    padding: 5rem 0px;
    padding-top: 18rem;
    height: 100%;
    padding-bottom: 0;
    text-align: center;
  }
  .top .container .flex {
    display: none;
  }
  [class*='grid'] {
    grid-template-columns: 1fr !important;
    gap: 5rem;
  }
  .grid-2.adj {
    gap: 1.5rem;
  }
  main .content h1 {
    font-size: 4rem;
  }
  .card,
  .card-2 {
    max-width: 100%;
  }
  .card-2 .frame-1 img {
    position: static;
    width: 100%;
    height: unset;
  }
  header .top :is(.social, .flex) {
    justify-content: center;
    margin: auto;
  }
  .m-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .subsribe {
    height: fit-content;
    grid-template-columns: 1fr;
  }
  .subsribe input {
    height: 5rem;
  }
  .cta {
    flex-direction: column;
  }
  .left-frame::before {
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%);
    width: 100%;
    height: 30%;
  }
  main .container {
    grid-template-columns: 1fr;
  }
  main .right .flag {
    display: none;
  }
  main .right .group {
    position: static;
  }
  .info {
    flex-direction: column;
    text-align: center;
    gap: 5rem;
  }
  .info div::before {
    font-size: 15rem;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .info div p {
    font-size: 8rem;
  }
  .form-grid form {
    padding: 2rem;
  }
  .form-grid form .row {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .fix {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  iframe {
    aspect-ratio: 1/1;
  }
}
